{% extends 'base.html' %}
{% block body %}
<div class="about-section">
    <h1 style="font-size: 29px;">About Us </h1>
   
    <p style="font-size:40px ;">Virtusa Corporation is an American information technology services company founded in 1996 in Sri Lanka and has its headquarters in Southborough, Massachusetts, United States. The company provides IT consulting, business consulting, systems implementation and application outsourcing services to large enterprises and software vendors.

        The company has several delivery centers in India and Sri Lanka with the ones in Hyderabad, Chennai and Colombo being the largest. In February 2021, Baring Private Equity Asia acquired the company for US$2 billion.</p>
  </div>
  
{% endblock %}