
.main-container {
    width: 100%;
    height: 100%;
    position: absolute;
}
.information-container {
    padding: 30px;
    margin-left: 200px;
   
}

.form-page {
    padding: 30px;
    margin-left: 200px;
}

.spacer{
    margin-left: 65px;
}

.options {
    margin-left: 28px;
    margin-top: 16px;
    font-size: 18px;
}

.question{
    margin-bottom: 30px;
}

.action {
    padding-bottom: 35px;
}

.form-check-input:checked {
    background-color: #d81e05 !important;
    border-color: #d81e05 !important;
}

@media only screen and (max-width: 600px){
    .information-container {
        padding: 15px;
        margin-left: 20px;
       
    }

    .form-page  {
        padding: 15px;
        margin-left: 20px;
       
    }

    .spacer{
        margin-left: 35px;
    }
}