<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Donation process</title>
        <link rel="stylesheet" href="/static/css/process.css">  
    </head>
    <body>
        {% include 'navbar.html' %}
        <h1 style="margin-top: 5%;">The Blood Donation Process</h1>
        <p>The blood donation process from the time you arrive until the time you leave takes about an hour.</p><p>The donation itself is only about 8-10 minutes on average.</p>
       <ul id="process">
        <li>
            <label for="first">Registration <span>&#x3e;</span></label>
            <input type="radio" name="process" id="first" checked>
            <div class="content">
                <p>1)We’ll sign you in and go over basic eligibility.</p><p>2)You’ll be asked to show ID, such as your driver’s license.</p><p>3)You’ll read some information about donating blood.</p><p>4)We’ll ask you for your complete address.  Your address needs to be complete (including PO Box, street/apartment number) and the place where you will receive your mail 8 weeks from donation.</p> 
            </div>
        </li> 
        <li>
            <label for="second">Health History <span>&#x3e;</span></label>
            <input type="radio" name="process" id="second">
            <div class="content">
                <p>1)You’ll answer a few questions about your health history and places you’ve traveled, during a private and confidential interview.</p><p>2)You’ll tell us about any prescription and/or over the counter medications that may be in your system.</p><p>3)We’ll check your temperature, pulse, blood pressure and hemoglobin level. </p>
                    
            </div>
        </li> 
        <li>
            <label for="third">Your Donation <span>&#x3e;</span></label>
            <input type="radio" name="process" id="third">
            <div class="content">
                <p>1)If you’re donating whole blood, we’ll cleanse an area on your arm and insert a brand new sterile needle for the blood draw. (This feels like a quick pinch and is over in seconds.)</p>
                <p>2)Other types of donations, such as platelets, are made using an apheresis machine which will be connected to both arms.</p>
                <p>3)A whole blood donation takes about 8-10 minutes, during which you’ll be seated comfortably or lying down.</p>
                <p>4)When approximately a pint of whole blood has been collected, the donation is complete and a staff person will place a bandage on your arm.</p>
                <p>5)For platelets, the apheresis machine will collect a small amount of blood, remove the platelets, and return the rest of the blood through your other arm; this cycle will be repeated several times over about 2 hours. </p>
            </div>
        </li> 
        <li>
            <label for="fourth">Refreshment and Recovery <span>&#x3e;</span></label>
            <input type="radio" name="process" id="fourth">
            <div class="content">
                <p>1)After donating blood, you’ll have a snack and something to drink in the refreshment area.</p>
                <p>2)You’ll leave after 10-15 minutes and continue your normal routine.</p>
                <p>3)Enjoy the feeling of accomplishment knowing you are helping to save lives.</p>
                <p>4)Take a selfie, or simply share your good deed with friends. It may inspire them to become blood donors. </p>
            </div>
        </li> 
       </ul> 
    </body>
</html>
</html>